.sliderProps {
    width: 10px;
    height: 100%;
    position: absolute;
    background-color: #01A9DB;
    margin-top: 10px;
    z-index: 1000;
}

.sliderElemHidden {
    visibility: hidden;
    display: none;
  }
  